<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" th:fragment="navigation(current)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="navbar-brand"><img class="logo" th:src="@{/images/btc_logo.png}" width="10%" height="10%"></a>
    <div class="container">
        <a class="navbar-brand" href="/">Crypto Portfolio Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:classappend="${current} == 'Portfolio' ? 'active' : ''" >
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/}">Portfolio</a>
                </li>
                <li class="nav-item"  th:classappend="${current} == 'Trade history' ? 'active' : ''" >
                    <a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/trade-history}">Trade History</a>
                </li>
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-link" href="#">Tax Report</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="#">Contact</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a sec:authorize="isAuthenticated()" class="nav-item nav-link" th:href="@{/logout}">Logout</a>
                </li>
                <li class="nav-item" th:classappend="${current} == 'Login' ? 'active' : ''">
                    <a sec:authorize="isAnonymous()" class="nav-item nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" th:classappend="${current} == 'Register' ? 'active' : ''">
                    <a sec:authorize="isAnonymous()" class="nav-item nav-link" th:href="@{/register}">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>