.validationError{
    color: #ED4337;
}

.coin-logo{
    float: left;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    box-shadow: 1px 1px 5px black;
}

.symbol{
    float: right;
}

.table {
    border: 1px solid black;
}

.chart {
    float: left;
    width: 40%;
}

.title {
    font-size: 150%;
    background-color: #343a40;
    color: white;
    text-align: center;
}

.header {
    text-align: center;
}

.positive {
    color: green;
}

.negative {
    color: red;
}