<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header (title='Portfolio')"></div>
<body>

<div th:replace="fragments/navigation :: navigation (current='Portfolio')"></div>
<!--<form action="#" th:action="@{/refresh-prices}" method="post">-->
<!--    <button type="submit" name="action" value="refresh" class="btn btn-primary">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">-->
<!--            <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>-->
<!--            <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>-->
<!--        </svg>-->
<!--    </button>-->
<!--</form>-->
<!--Spot-->
<!--<button id="refresh_button"type="button">Click Me!</button>-->
<div class="container" id="refresh_table">
    <table class="table" id="spotTable">
        <thead>
        <tr>
            <th class="title" colspan="9">
                Spot (Open positions)
            </th>
        </tr>
        <tr>
            <th scope="col" class="header">Symbol</th>
            <th scope="col" class="header">Current Price</th>
            <th scope="col" class="header">Opening Date</th>
            <th scope="col" class="header">Deposit</th>
            <th scope="col" class="header">Quantity</th>
            <th scope="col" class="header">Average Cost Basis</th>
            <th scope="col" class="header">Market Value</th>
            <th scope="col" class="header" colspan="2">Unrealized Gains</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="openPosition: ${spotBalanceDto.openPositionDtos}">
            <td>
                <div>
                    <img class="coin-logo" th:src="@{${'/images/currencies/' + openPosition.cmcId + '.png'}}">

                    <div>
                        <p class="symbol" th:text="${openPosition.symbol}"></p>
                    </div>
                </div>
            </td>
            <td th:text="${currency} + ${openPosition.currentPrice}" id="change_this"></td>
            <td th:text="${#temporals.format(openPosition.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(openPosition.deposit,1,2)}"></td>
            <td th:text="${#numbers.formatDecimal(openPosition.quantity,1,4)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(openPosition.averageCostBasis,1,2)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(openPosition.marketValue,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGains >= 0}"
                class="positive"
                th:text="'+' + ${currency} + ${#numbers.formatDecimal(openPosition.unrealizedGains,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGains < 0}"
                th:with="inverted=${-openPosition.unrealizedGains}"
                class="negative" th:text="'-' + ${currency} + ${#numbers.formatDecimal(inverted,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGainsPercent >= 0}"
                class="positive"
                th:text=" '+' + ${#numbers.formatPercent(openPosition.unrealizedGainsPercent,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGainsPercent < 0}"
                class="negative" th:text="${#numbers.formatPercent(openPosition.unrealizedGainsPercent,1,2)}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="col" colspan="3">Total deposit:</th>
            <th scope="col" th:text="${currency} + ${#numbers.formatDecimal(spotBalanceDto.totalDeposit,1,2)}"></th>
            <th scope="col" colspan="3">Total unrealized gains:</th>
            <th th:if="${spotBalanceDto.totalUnrealizedGains >= 0}"
                class="positive"
                th:text="'+' + ${currency} + ${#numbers.formatDecimal(spotBalanceDto.totalUnrealizedGains,1,2)}"></th>
            <th th:if="${spotBalanceDto.totalUnrealizedGains < 0}"
                th:with="inverted=${-spotBalanceDto.totalUnrealizedGains}"
                class="negative" th:text="'-' + ${currency} + ${#numbers.formatDecimal(inverted,1,2)}"></th>
            <th scope="col" th:if="${spotBalanceDto.totalUnrealizedGainsPercent >= 0}"
                class="positive"
                th:text=" '+' + ${#numbers.formatPercent(spotBalanceDto.totalUnrealizedGainsPercent,1,2)}"></th>
            <th scope="col" th:if="${spotBalanceDto.totalUnrealizedGainsPercent < 0}"
                class="negative"
                th:text="${#numbers.formatPercent(spotBalanceDto.totalUnrealizedGainsPercent,1,2)}"></th>
        </tr>
        </tfoot>
    </table>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th class="title" colspan="9">Spot (Closed positions)</th>
        </tr>
        <tr>
            <th scope="col" class="header">Symbol</th>
            <th scope="col" class="header">Sell Price</th>
            <th scope="col" class="header">Closing Date</th>
            <th scope="col" class="header">Deposit</th>
            <th scope="col" class="header">Quantity</th>
            <th scope="col" class="header">Average Cost Basis</th>
            <th scope="col" class="header">Market Value</th>
            <th scope="col" class="header" colspan="2">Realized Gains</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="closedPosition: ${spotBalanceDto.closedPositionDtos}">
            <td th:text="${closedPosition.symbol}"></td>
            <td th:text="${currency} + ${closedPosition.sellPrice}"></td>
            <td th:text="${#temporals.format(closedPosition.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.deposit,1,2)}"></td>
            <td th:text="${#numbers.formatDecimal(closedPosition.quantity,1,4)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.averageCostBasis,1,2)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.marketValue,1,2)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.realizedGains,1,2)}"></td>
            <td th:text="${#numbers.formatPercent(closedPosition.realizedGainsPercent,1,2)}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="col" colspan="7">Total realized gains:</th>
            <th th:if="${spotBalanceDto.totalRealizedGains >= 0}"
                class="positive"
                th:text="'+' + ${currency} + ${#numbers.formatDecimal(spotBalanceDto.totalRealizedGains,1,2)}"></th>
            <th th:if="${spotBalanceDto.totalRealizedGains < 0}"
                th:with="inverted=${-spotBalanceDto.totalRealizedGains}"
                class="negative" th:text="'-' + ${currency} + ${#numbers.formatDecimal(inverted,1,2)}"></th>
            <th scope="col" th:if="${spotBalanceDto.totalRealizedGainsPercent >= 0}"
                class="positive"
                th:text=" '+' + ${#numbers.formatPercent(spotBalanceDto.totalRealizedGainsPercent,1,2)}"></th>
            <th scope="col" th:if="${spotBalanceDto.totalRealizedGainsPercent < 0}"
                class="negative" th:text="${#numbers.formatPercent(spotBalanceDto.totalRealizedGainsPercent,1,2)}"></th>
        </tr>
        </tfoot>
    </table>
</div>
<!--Cross margin-->
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th class="title" colspan="9">Cross (Open positions)</th>
        </tr>
        <tr>
            <th scope="col" class="header">Symbol</th>
            <th scope="col" class="header">Current Price</th>
            <th scope="col" class="header">Opening Date</th>
            <th scope="col" class="header">Deposit</th>
            <th scope="col" class="header">Quantity</th>
            <th scope="col" class="header">Average Cost Basis</th>
            <th scope="col" class="header">Market Value</th>
            <th scope="col" class="header" colspan="2">Unrealized Gains</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="openPosition: ${crossBalanceDto.openPositionDtos}">
            <td>
                <div>
                    <img class="coin-logo" th:src="@{${'/images/currencies/' + openPosition.cmcId + '.png'}}">

                    <div>
                        <p class="symbol" th:text="${openPosition.symbol}"></p>
                    </div>
                </div>
            </td>
            <td th:text="${currency} + ${openPosition.currentPrice}"></td>
            <td th:text="${#temporals.format(openPosition.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(openPosition.deposit,1,2)}"></td>
            <td th:text="${#numbers.formatDecimal(openPosition.quantity,1,4)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(openPosition.averageCostBasis,1,2)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(openPosition.marketValue,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGains >= 0}"
                class="positive"
                th:text="'+' + ${currency} + ${#numbers.formatDecimal(openPosition.unrealizedGains,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGains < 0}"
                th:with="inverted=${-openPosition.unrealizedGains}"
                class="negative" th:text="'-' + ${currency} + ${#numbers.formatDecimal(inverted,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGainsPercent >= 0}"
                class="positive"
                th:text=" '+' + ${#numbers.formatPercent(openPosition.unrealizedGainsPercent,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGainsPercent < 0}"
                class="negative" th:text="${#numbers.formatPercent(openPosition.unrealizedGainsPercent,1,2)}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="col" colspan="3">Total deposit:</th>
            <th scope="col" th:text="${currency} + ${#numbers.formatDecimal(crossBalanceDto.totalDeposit,1,2)}"></th>
            <th scope="col" colspan="3">Total unrealized gains:</th>
            <th th:if="${crossBalanceDto.totalUnrealizedGains >= 0}"
                class="positive"
                th:text="'+' + ${currency} + ${#numbers.formatDecimal(crossBalanceDto.totalUnrealizedGains,1,2)}"></th>
            <th th:if="${crossBalanceDto.totalUnrealizedGains < 0}"
                th:with="inverted=${-crossBalanceDto.totalUnrealizedGains}"
                class="negative" th:text="'-' + ${currency} + ${#numbers.formatDecimal(inverted,1,2)}"></th>
            <th scope="col" th:if="${crossBalanceDto.totalUnrealizedGainsPercent >= 0}"
                class="positive"
                th:text=" '+' + ${#numbers.formatPercent(crossBalanceDto.totalUnrealizedGainsPercent,1,2)}"></th>
            <th scope="col" th:if="${crossBalanceDto.totalUnrealizedGainsPercent < 0}"
                class="negative"
                th:text="${#numbers.formatPercent(crossBalanceDto.totalUnrealizedGainsPercent,1,2)}"></th>
        </tr>
        </tfoot>
    </table>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th class="title" colspan="9">Cross (Closed positions)</th>
        </tr>
        <tr>
            <th scope="col" class="header">Symbol</th>
            <th scope="col" class="header">Sell Price</th>
            <th scope="col" class="header">Closing Date</th>
            <th scope="col" class="header">Deposit</th>
            <th scope="col" class="header">Quantity</th>
            <th scope="col" class="header">Average Cost Basis</th>
            <th scope="col" class="header">Market Value</th>
            <th scope="col" class="header" colspan="2">Realized Gains</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="closedPosition: ${crossBalanceDto.closedPositionDtos}">
            <td th:text="${closedPosition.symbol}"></td>
            <td th:text="${currency} + ${closedPosition.sellPrice}"></td>
            <td th:text="${#temporals.format(closedPosition.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.deposit,1,2)}"></td>
            <td th:text="${#numbers.formatDecimal(closedPosition.quantity,1,4)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.averageCostBasis,1,2)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.marketValue,1,2)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.realizedGains,1,2)}"></td>
            <td th:text="${#numbers.formatPercent(closedPosition.realizedGainsPercent,1,2)}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="col" colspan="7">Total realized gains:</th>
            <th th:if="${crossBalanceDto.totalRealizedGains >= 0}"
                class="positive"
                th:text="'+' + ${currency} + ${#numbers.formatDecimal(crossBalanceDto.totalRealizedGains,1,2)}"></th>
            <th th:if="${crossBalanceDto.totalRealizedGains < 0}"
                th:with="inverted=${-crossBalanceDto.totalRealizedGains}"
                class="negative" th:text="'-' + ${currency} + ${#numbers.formatDecimal(inverted,1,2)}"></th>
            <th scope="col" th:if="${crossBalanceDto.totalRealizedGainsPercent >= 0}"
                class="positive"
                th:text=" '+' + ${#numbers.formatPercent(crossBalanceDto.totalRealizedGainsPercent,1,2)}"></th>
            <th scope="col" th:if="${crossBalanceDto.totalRealizedGainsPercent < 0}"
                class="negative"
                th:text="${#numbers.formatPercent(crossBalanceDto.totalRealizedGainsPercent,1,2)}"></th>
        </tr>
        </tfoot>
    </table>
</div>
<!--Isolated margin-->
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th class="title" colspan="9">Isolated (Open positions)</th>
        </tr>
        <tr>
            <th scope="col" class="header">Symbol</th>
            <th scope="col" class="header">Current Price</th>
            <th scope="col" class="header">Opening Date</th>
            <th scope="col" class="header">Deposit</th>
            <th scope="col" class="header">Quantity</th>
            <th scope="col" class="header">Average Cost Basis</th>
            <th scope="col" class="header">Market Value</th>
            <th scope="col" class="header" colspan="2">Unrealized Gains</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="openPosition: ${isolatedBalanceDto.openPositionDtos}">
            <td>
                <div>
                    <img class="coin-logo" th:src="@{${'/images/currencies/' + openPosition.cmcId + '.png'}}">

                    <div>
                        <p class="symbol" th:text="${openPosition.symbol}"></p>
                    </div>
                </div>
            </td>
            <td th:text="${currency} + ${openPosition.currentPrice}"></td>
            <td th:text="${#temporals.format(openPosition.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(openPosition.deposit,1,2)}"></td>
            <td th:text="${#numbers.formatDecimal(openPosition.quantity,1,4)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(openPosition.averageCostBasis,1,2)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(openPosition.marketValue,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGains >= 0}"
                class="positive"
                th:text="'+' + ${currency} + ${#numbers.formatDecimal(openPosition.unrealizedGains,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGains < 0}"
                th:with="inverted=${-openPosition.unrealizedGains}"
                class="negative" th:text="'-' + ${currency} + ${#numbers.formatDecimal(inverted,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGainsPercent >= 0}"
                class="positive"
                th:text=" '+' + ${#numbers.formatPercent(openPosition.unrealizedGainsPercent,1,2)}"></td>
            <td th:if="${openPosition.unrealizedGainsPercent < 0}"
                class="negative" th:text="${#numbers.formatPercent(openPosition.unrealizedGainsPercent,1,2)}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="col" colspan="3">Total deposit:</th>
            <th scope="col" th:text="${currency} + ${#numbers.formatDecimal(isolatedBalanceDto.totalDeposit,1,2)}"></th>
            <th scope="col" colspan="3">Total unrealized gains:</th>
            <th th:if="${isolatedBalanceDto.totalUnrealizedGains >= 0}"
                class="positive"
                th:text="'+' + ${currency} + ${#numbers.formatDecimal(isolatedBalanceDto.totalUnrealizedGains,1,2)}"></th>
            <th th:if="${isolatedBalanceDto.totalUnrealizedGains < 0}"
                th:with="inverted=${-isolatedBalanceDto.totalUnrealizedGains}"
                class="negative" th:text="'-' + ${currency} + ${#numbers.formatDecimal(inverted,1,2)}"></th>
            <th scope="col" th:if="${isolatedBalanceDto.totalUnrealizedGainsPercent >= 0}"
                class="positive"
                th:text=" '+' + ${#numbers.formatPercent(isolatedBalanceDto.totalUnrealizedGainsPercent,1,2)}"></th>
            <th scope="col" th:if="${isolatedBalanceDto.totalUnrealizedGainsPercent < 0}"
                class="negative"
                th:text="${#numbers.formatPercent(isolatedBalanceDto.totalUnrealizedGainsPercent,1,2)}"></th>
        </tr>
        </tfoot>
    </table>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th class="title" colspan="9">Isolated (Closed positions)</th>
        </tr>
        <tr>
            <th scope="col" class="header">Symbol</th>
            <th scope="col" class="header">Sell Price</th>
            <th scope="col" class="header">Closing Date</th>
            <th scope="col" class="header">Deposit</th>
            <th scope="col" class="header">Quantity</th>
            <th scope="col" class="header">Average Cost Basis</th>
            <th scope="col" class="header">Market Value</th>
            <th scope="col" class="header" colspan="2">Realized Gains</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="closedPosition: ${isolatedBalanceDto.closedPositionDtos}">
            <td th:text="${closedPosition.symbol}"></td>
            <td th:text="${currency} + ${closedPosition.sellPrice}"></td>
            <td th:text="${#temporals.format(closedPosition.date, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.deposit,1,2)}"></td>
            <td th:text="${#numbers.formatDecimal(closedPosition.quantity,1,4)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.averageCostBasis,1,2)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.marketValue,1,2)}"></td>
            <td th:text="${currency} + ${#numbers.formatDecimal(closedPosition.realizedGains,1,2)}"></td>
            <td th:text="${#numbers.formatPercent(closedPosition.realizedGainsPercent,1,2)}"></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="col" colspan="7">Total realized gains:</th>
            <th th:if="${isolatedBalanceDto.totalRealizedGains >= 0}"
                class="positive"
                th:text="'+' + ${currency} + ${#numbers.formatDecimal(isolatedBalanceDto.totalRealizedGains,1,2)}"></th>
            <th th:if="${isolatedBalanceDto.totalRealizedGains < 0}"
                th:with="inverted=${-isolatedBalanceDto.totalRealizedGains}"
                class="negative" th:text="'-' + ${currency} + ${#numbers.formatDecimal(inverted,1,2)}"></th>
            <th scope="col" th:if="${isolatedBalanceDto.totalRealizedGainsPercent >= 0}"
                class="positive"
                th:text=" '+' + ${#numbers.formatPercent(isolatedBalanceDto.totalRealizedGainsPercent,1,2)}"></th>
            <th scope="col" th:if="${isolatedBalanceDto.totalRealizedGainsPercent < 0}"
                class="negative"
                th:text="${#numbers.formatPercent(isolatedBalanceDto.totalRealizedGainsPercent,1,2)}"></th>
        </tr>
        </tfoot>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
        $(document).ready(function () {
            $('#refresh_button').click(refreshTable);

            //setInterval(function() {refreshPrices()}, 60000);
            function refreshPrices() {

                //create url to request fragment
                var url = /balance/;
                url = url + "content2";

                //console.log(url);
                //load fragment and replace content
                $('#replace_div').load(url);
            }
            var price = document.getElementById("spotTable").rows[3].cells[1];
            console.log(price);

            function refreshTable() {
                    $.ajax({
    			  type: 'get',
    			  url: /*[[ @{'/url'} ]]*/,

    			  success: function(data){

    				  /*<![CDATA[*/


    				  $('.search_list').html(data);


    				  /*]]>*/
    				},

    			})
            }
            })
</script>
</body>
</html>