<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="fragments/header :: header (title='Portfolio')"></div>
<body>

<div th:replace="fragments/menu :: menu (current='Portfolio')"></div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Pair</th>
            <th scope="col">Current Price</th>
            <th scope="col">Deposit</th>
            <th scope="col">Quantity</th>
            <th scope="col">Average cost basis</th>
            <th scope="col">Market Value</th>
            <th scope="col">Profit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="position: ${positions}">
            <td th:text="${position.pair}"></td>
            <td th:text="${position.currentPrice} + '$'"></td>
            <td th:text="${position.deposit} + '$'"></td>
            <td th:text="${position.quantity}"></td>
            <td th:text="${position.averageCostBasis} + '$'"></td>
            <td th:text="${position.marketValue} + '$'"></td>
            <td th:text="${position.profit} + '$'"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>