<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header (title='Add trade')"></div>
<body>

<div th:replace="fragments/navigation :: navigation (current='Add trade')"></div>

<div class="container">
    <!--/*@thymesVar id="trade" type="hu.portfoliotracker.Model.Trade"*/-->
    <form action="#" th:action="${trade.id} == null ? @{/trade-history/add} : @{/trade-history/edit/{id}(id=${trade.id})}" th:object="${trade}" method="post">
<!--        <div class="form-group">-->
<!--            <label for="date">Date</label>-->
<!--            <input type="text" class="form-control" id="date"  th:field="*{date}">-->
<!--            <span class="validationError" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>-->
<!--        </div>-->
        <div class="form-group">
            <label for="pair">Trading pair</label>
            <select class="form-control" id="pair" th:field="*{pair}">
                <option th:each="tradingPair : ${tradingPairs}"
                        th:value="${tradingPair.Symbol}"
                        th:text="${tradingPair.Symbol}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="side">Side</label>
            <select class="form-control" id="side" th:field="*{side}">
                <option th:value="'BUY'" th:text="Buy"></option>
                <option th:value="'SELL'" th:text="Sell"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" step="any" class="form-control" id="price" th:field="*{price}">
            <span class="validationError" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" step="any" class="form-control" id="amount" th:field="*{amount}">
            <span class="validationError" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
        </div>
        <div class="form-group">
            <label for="tradingType">Trading type</label>
            <select id="tradingType" th:field="*{tradingType}">
                <option th:each="tradingType : ${T(hu.portfoliotracker.Enum.TRADING_TYPE).values()}"
                        th:value="${tradingType}" th:text="${tradingType}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" th:text="${trade.id != null ? 'Modify' : 'Add'}">Submit</button>
        <button type="submit" name="action" value="cancel" class="btn btn-primary">Cancel</button>
    </form>
</div>

</body>
</html>