<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header (title='Create Trade')"></div>
<body>

<div th:replace="fragments/menu :: menu (current='Create')"></div>

<div class="container">
    <!--/*@thymesVar id="trade" type="hu.portfoliotracker.Model.Trade"*/-->
    <form action="#" th:action="${trade.id} == null ? @{/trade/create} : @{/trade/edit/{id}(id=${trade.id})}" th:object="${trade}" method="post">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" th:field="*{date}">
        </div>
        <div class="form-group">
            <label for="pair">Trading pair</label>
            <input type="text" class="form-control" id="pair" th:field="*{pair}">
        </div>
        <div class="form-group">
            <label for="side">Side</label>
            <input type="text" class="form-control" id="side" th:field="*{side}">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" id="price" th:field="*{price}">
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" th:field="*{amount}">
        </div>
        <button type="submit" class="btn btn-primary" th:text="${trade.id != null ? 'Modify' : 'Submit'}">Submit</button>
    </form>
</div>

</body>
</html>